
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 769px) {

  .name{
    font-size:26px;
  text-align: center;
      text-align: center;
      margin-top: 2rem;
  }

  .header{
    padding-top: 1rem;
  }

  .about-me{
    font-size:1.1rem;
    text-align: center;
  }

  .fron-end-logos-imgs{
         text-align: center;
      }

      .front-end-logos{
       width:80%;
   }

   .front_end_skills{
      margin: 0 auto;
      }

      .skills_illustration{
       display: none;
    }

  .skills_illustration{
    max-width: 80%;
    text-align: center;
  }
  
   .socialmediao{
     text-align: center;
   }



 


.cursor-dot,.cursor-dot-outline { pointer-events: none; position: absolute; top: 50%; left: 50%; border-radius: 50%; opacity: 0; transform: translate(-50%, -50%); transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;} .cursor-dot { width: 8px; height: 8px; background-color:var(--font-color);} .cursor-dot-outline { width: 40px; height: 40px; background-color: transparent; border:2px solid var(--font-color);}
